# Logger
logLevel: info # values: error, warning, info, debug
logType: console # values: console, json, gcp
# Fabric
profilePath: "profilePath" # path to Fabric connection profile
profileRaw: "aGVsbG8=" # base64 encoded Fabric connection profile
userName: "userName" # Fabric user

# Listen section
listenAPI:
  accessToken: ea135929105c4f29a0f5117d2980926f # Bearer token
  addressHTTP: localhost:5678 # the address and port for HTTP that will be open to receive connections
  addressGRPC: localhost:1234 # the address and port for GRPC that will be open to receive connections

# Web server port
# Endpoints:
# /        - liveness probe
# /metrics - prometheus metrics
# /ready   - readiness probe
service:
  address: 3001

# Service options
options:
  batchTxPreimagePrefix: batchTransactions
  collectorsBufSize: 1 # buffer size of blockData
  executeTimeout: 0s # timeout of invoke HLF SDK method
  retryExecuteAttempts: 3 # number of attempts querying the HLF
  retryExecuteMaxDelay: 2s # delay between attempts querying the HLF
  retryExecuteDelay: 500ms # delay between attempts querying the HLF
  ttl: 10800s # time to live of transfer
  transfersInHandleOnChannel: 50 # the number of transfers currently being processed in the channel
  newestRequestStreamBufferSize: 50 # size of the request buffer of creating transfers

# channels for transfer
channels:
  - name: ch1
    taskExecutor:
      addressGRPC: "localhost:8880"
  - name: ch2
    taskExecutor:
      addressGRPC: "localhost:8880"
  - name: ch3

# Redis configuration
redisStorage:
  addr: # addresses
    - 127.0.0.1:6379
    - 127.0.0.1:6380
  password: 12345 # password
  dbPrefix: transfer # db prefix
  afterTransferTTL: 3600s # time to life after transfer


# Prometheus configuration
promMetrics:
  prefix: transfer # Prometheus prefix without _

